<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - UTI Processual</title>
    <link rel="stylesheet" href="~/css/output.css">
</head>

<body>
<h1 class="text-3xl font-bold underline text-sky-400">
    Hello world!
</h1>
@{
    IgnoreBody();
}
</body>
</html>