@model List<UTIProcessual.Models.Cadastro.NovoProcesso>

@{

}

<h1>Processos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nº Processo penal</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var infoProcesso in Model){
            <tr>
                <td>@infoProcesso.NumeroProcessoPenal</td>
                <td><a href="View/@infoProcesso.Id">Ver processo</a></td>
            </tr>
        }
    </tbody>
</table>