@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <h1>Lei 11.343/06</h1>

    <div>
        <span style="height: 25px;
            width: 25px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
            "
        ></span>
    </div>
</div>
