@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="display-4 pt-4">Processos</h1>
    <div class="card">
        <div class="card-body d-flex justify-content-between">
            <span style="font-size: large;">
                Lei de Tóxicos 11.343/06 
            </span>
            <span >
                @if(User.Identity.IsAuthenticated)
                {
                    <a type="button" asp-area="" asp-controller="Processes" asp-action="Index" class="btn btn-secondary btn-md">Ver Processos</a>

                } 
                else {
                    <a type="button" asp-area="" asp-controller="Processes" asp-action="CommonIndex" class="btn btn-secondary btn-md">Ver Processos</a>
                }
            </span>
        </div>
    </div>
</div>
